In [1]:
import pandas as pd

In [2]:
claimsDF = pd.read_csv("../../data/cleanData/claims.csv")

In [3]:
claimsDF.head()

,ClientCode,ClaimNUM,LineNUM,Ee_NUM,Unique,Hcpcscpt4,Revenue,PlaceOfService,From_date,Thru_date,...,ProviderUserDefin,ProviderUserDefin.1,Diag1,Diag2,Diag3,Diag4,ProcedureCode1,ProcedureCode2,ProcedureCode3,ProcedureCode4
0,DHS,2014112467116,10,07500351D,3,99202,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
1,DHS,2014112467116,20,07500351D,3,72070,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
2,DHS,2014112467116,30,07500351D,3,98940,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
3,DHS,2014112467116,40,07500351D,3,98940,,11,11/13/2014,11/13/2014,...,,,754.2,728.85,739.3,,,,,
4,DHS,2014120567002,10,07500351D,3,98940,,11,11/17/2014,11/17/2014,...,,,754.2,728.85,739.3,,,,,

In [9]:
claimsDF.shape

(1413869, 26)

In [11]:
len(set(claimsDF.ClaimNUM))

587111

In [15]:
claimsDF.ClaimNUM[1]

2014112467116

In [16]:
claimsDF.Paid_amount

0           52.20
1           29.30
2           21.36
3           21.36
4           21.36
5           21.36
6           21.36
7           21.36
8           21.36
9           21.36
10          18.98
11           5.00
12          16.00
13           5.00
14          10.00
15          10.00
16           5.00
17          10.00
18          16.00
19           5.00
20          10.00
21          10.00
22          16.00
23          16.00
24           5.00
25          10.00
26          10.00
27          16.00
28          10.00
29          16.00
            ...
1413839     29.42
1413840     29.42
1413841     14.26
1413842      4.11
1413843     18.09
1413844     15.44
1413845     12.11
1413846     22.38
1413847      7.82
1413848     12.29
1413849      3.92
1413850     18.04
1413851     14.40
1413852     23.79
1413853     51.38
1413854      0.00
1413855      0.00
1413856      0.00
1413857      0.00
1413858      1.70
1413859     40.78
1413860      6.99
1413861     11.66
1413862     10.32
1413863      9.20
1413864    107.72
1413865      8.92
1413866    293.18
1413867     80.31
1413868     22.97
Name: Paid_amount, dtype: float64